#search-bar {
  width: calc(100% - 100px); 
  height: 55px;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 25px;
  backdrop-filter: blur(6px) brightness(0.8);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
}

.search-container {
  position: relative;
  width: 40%;
  margin: 0 auto;
}

#search-button {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
  height: 55px;
  width: 45px; 
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

#search-button img.search-icon {
  height: 100%;
  width: 100%; 
  object-fit: contain;
  border-radius: 25px;
  margin-top: 25px; 
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.search-section {
  height: 800px;
}

#main-title {
  font-size: 60px;
  color: #000000;
}

#subtitle {
  font-size: 25px;
  color: #000000;
}

#heading-subheading {
  margin-top: 250px;
}

#product-list {
  max-height: 550px;
  overflow-y: auto;
  border: 2px solid #918a83;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px;
  background-color: #e0dddb;
  width: 900px;
  margin: 50px auto;
}

.product-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
  height: 120px;
  width: auto;
  background-color: #72685f;
  border: 2px solid #918a83;
}

.product-item:hover {
  background-color: #cfc9c4;
}

.product-item:hover .product-name-input,
.product-item:hover .product-description-input,
.product-item:hover .product-price-input {
  color: #615951;
}

.product-image-input {
  width: auto;
  height: 130px;
  border-radius: 40px;
  margin-right: 10px;
}

.product-info-input {
  flex: 1;
}

.product-name-input {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  color: #dbd7d3;
}

.product-description-input {
  font-size: 17px;
  margin: 5px 0;
  color: #e7e4e1; 
  margin: 10px;
}

.product-price-input {
  margin: 0;
  font-size: 22px;
  color: #f3f2f0;
  font-weight: bold;
}

.add-to-cart-button-input {
  background-color: #d73e38;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

.add-to-cart-button-input:hover {
  background-color: #f22521;
}

