<div id='container' class='container text-center'>
  <h1>Weather App KPI</h1>
  <p class="subheader">Select a city to view weather:</p>
  <div class='cities'>
    <div id='col' class='col-4'>
      <div id='citys' class='d-grid gap-2 col-6 mx-auto'>
       <button type='button' class='btn btn-primary btn-lg' onclick="redirectToCard('Lviv')">Львів</button>
        <button type='button' class='btn btn-primary btn-lg' onclick="redirectToCard('Ternopil')">Тернопіль</button>
        <button type='button' class='btn btn-primary btn-lg' onclick="redirectToCard('Odesa')">Одеса</button>
        <button type='button' class='btn btn-primary btn-lg' onclick="redirectToCard('Kyiv')">Київ</button>
        <button type='button' class='btn btn-primary btn-lg' onclick="redirectToCard('Cherkasy')">Черкаси</button>
        <button type='button' class='btn btn-primary btn-lg' onclick="redirectToCard('Obukhiv')">Обухів</button>
      </div>
      </div>
    </div>
  </div>
</div>