body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/main-background.jpg'); 
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  margin-left: 3%;
  margin-right: 3%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
