.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .service {
    display: flex;
    width: 100%; 
  }
  
  .service-text {
    flex: 1; 
    padding-right: 20px;
    word-wrap: break-word;
    text-align: left;
  }
  
  .service-image {
    flex: 1;
    text-align: right;
  }
  