.cart {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 900px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 25px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
}

.cart h2 {
  margin: 0 0 10px 0;
}

.cart ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  align-items: center;
}

.cart-button img.cart-logo {
  width: 40px;
  height: auto;
  border: 1px solid #4f4f4f;
  border-radius: 15px;
  padding: 5px;
  background-color: #DCE1DD;
  transition: background-color 0.3s ease, padding-left 0.5s ease, padding-right 0.5s ease;
}

.cart-button:hover img.cart-logo {
  opacity: 0.8;
}

.cart-count {
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px;
  margin-left: 5px;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.notification.active {
  opacity: 1;
}

.notification-success {
  background-color: rgba(40, 167, 69, 0.7); 
  color: #fff;
}

.notification-default {
  background-color: rgba(0, 123, 255, 0.7); 
  color: #fff;
}

.notification-red {
  background-color: rgba(220, 53, 69, 0.7); 
  color: #fff;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.remove-button {
  background-color: #594832;
  color: #edebd7;
  width: 100px;
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.remove-button:hover {
  background-color: #863f2b;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.cart .product-image {
  width: 120px;
  height: auto;
  border-radius: 20px;
  border: 1px solid #4f4f4f;
}

.order-button {
  padding: 10px 20px;
  background-color: #F7FAB2;
  color: #fef9f0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 180px;
  height: 50px;
  font-size: 20px;
  color: #4f4f4f;
  font-weight: bold;
}

.order-button:hover {
  background-color: #f9d99b;
}

.addition-button {
  background-color: #F2D7B6;
  color: #fff;
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 20px;
  border: none;
  color: #4f4f4f;
}

.addition-button:hover {
  background-color: #f5bb9e;
}


.subtraction-button {
  background-color: #BFA07A;
  color: #fff;
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 20px;
  border: none;
  color: #4f4f4f;
}

.subtraction-button:hover {
  background-color: #ce8b6a;
}