.cart {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 800px;
  background-color: #f4ffe6;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
}

.cart h2 {
  margin: 0 0 10px 0;
}

.cart ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  align-items: center;
}

.cart-button img.cart-logo {
  width: 40px;
  height: auto;
  border: 1px solid #4f4f4f;
  border-radius: 15px;
  padding: 5px;
  background-color: #DCE1DD;
  transition: background-color 0.3s ease, padding-left 0.5s ease, padding-right 0.5s ease;
}

.cart-button:hover img.cart-logo {
  opacity: 0.8;
}

.cart-count {
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px;
  margin-left: 5px;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.notification.active {
  opacity: 1;
}

.notification-success {
  background-color: #28a745;
  color: #fff;
}

.notification-default {
  background-color: #007bff;
  color: #fff;
}

.notification-red {
  background-color: #dc3545;
  color: #fff;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #007bff;
  color: #fff;
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 20px;
  border: none;
}

.quantity-button:hover {
  background-color: #0056b3;
}

.remove-button {
  background-color: red;
  color: #fff;
  width: 85px;
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button:hover {
  background-color: #991515;
}
